
<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">Sign in</h1>
        <p class="text-xs-center">
          <a href="/sign-up" hx-get="/htmx/sign-up" hx-target="#app-body" hx-push-url="/sign-up">Need an account?</a>
        </p>

        <div id="sign-in-form-messages">
          {{> error-message errors=errors}}
        </div>

        <form hx-post="/htmx/sign-in"
              hx-target="#sign-in-form-messages"
              hx-swap="innerHTML">
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="email" name="email" placeholder="Email" value="{{values.email}}" />
          </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg" type="password" name="password" placeholder="Password" />
          </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right" type="submit">Sign in</button>
        </form>
      </div>
    </div>
  </div>
</div>
